<h1>Welcome frontend streamers</h1>


<ul>
  <li>
    <%= link_to "Open architecture example", architecture_show_path %>
  </li>
  <li>
    <%= link_to "Open twitter example", tweets_index_path %>
  </li>
</ul>
