<h1>Important messages</h1>

<div class="message">
  <div class="content">
    I am an important update from some online service that you don't
    remember signing up for. I demand you take action immediately.
  </div>
  <button class="btn">Dismiss</button>
  <button class="btn btn-alert">Mark as important</button>
  <button class="btn btn-info">Like</button>
</div>
